adf-resources/pipeline/pl_googlenews_api_call_v2.json
{
	"name": "pl_googlenews_api_call_v2",
	"properties": {
		"activities": [
			{
				"name": "CopyApiNewstoBlob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Variable apikey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_src_googlenews",
						"type": "DatasetReference",
						"parameters": {
							"url": "everything?q=covid&from=2021-07-20&sortBy=publishedAt&apiKey=",
							"apikey": {
								"value": "@variables('kv-apikey')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dst_googlenews_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DatflowtoTransform",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyApiNewstoBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_googlenews_raw_processed_json",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Webactivity to Fetch KeyValut Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": " https://kv-mini-project-krb.vault.azure.net/secrets/google-rest-api-key/f59ac1374bc846d3aa6783cbef09e6dd?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Variable apikey",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Webactivity to Fetch KeyValut Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "kv-apikey",
					"value": {
						"value": "@activity('Webactivity to Fetch KeyValut Secret').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"kv-apikey": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-14T10:31:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}